# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\labs\lab2_2\dev-j120-task1-2-DenisKharlamov\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
